<div class="grid grid-cols-2 gap-6 md:grid-cols-4 mb-4">
    <!-- Card 1 with gradient -->
    <div
        class="bg-gradient-to-r from-teal-400 to-green-200 text-white p-4 rounded-lg shadow text-center h-36 flex flex-col justify-center items-center transform transition duration-300 hover:shadow-lg hover:scale-105">
        <div class="text-6xl font-bold" appCountup [targetValue]="10">10</div>
        <div class="text-lg">Total Recipes</div>
    </div>

    <!-- Card 2 -->
    <div
        class="bg-white p-4 rounded-lg shadow text-center h-36 flex flex-col justify-center items-center text-gray-800 transform transition duration-300 hover:shadow-lg hover:scale-105">
        <div class="text-6xl font-bold" appCountup [targetValue]="4">4</div>
        <div class="text-lg text-gray-600">Categories</div>
    </div>

    <!-- Card 3 -->
    <div
        class="bg-white p-4 rounded-lg shadow text-center h-36 flex flex-col justify-center items-center text-gray-800 transform transition duration-300 hover:shadow-lg hover:scale-105">
        <div class="text-6xl font-bold" appCountup [targetValue]="3">3</div>
        <div class="text-lg text-gray-600">Favorites</div>
    </div>

    <!-- Card 4 -->
    <div
        class="bg-white p-4 rounded-lg shadow text-center h-36 flex flex-col justify-center items-center text-gray-800 transform transition duration-300 hover:shadow-lg hover:scale-105">
        <div class="text-6xl font-bold" appCountup [targetValue]="5">5</div>
        <div class="text-lg text-gray-600">Meal Plans</div>
    </div>
</div>


<!--  This button is for creating a new recipe. -->
<div
    class="inline-block p-[4px] rounded-lg bg-gradient-to-r from-[#1abc9c] via-[#3498db] to-[#a3e4d7] hover:from-[#45b39d] hover:to-[#3498db] transition-all duration-500">
    <button
        class="bg-[#73c6b6] hover:bg-[#45b39d] text-white p-4 rounded-lg shadow-md w-72 h-20 flex justify-center items-center cursor-pointer transition-all duration-300">
        <span class="text-lg flex items-center gap-2">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            New Recipe
        </span>
    </button>
</div>

<div class="w-full flex h-full mt-4">
    <div class="w-[70%]">
        @defer () {
        <app-dashboard-recent-recipes></app-dashboard-recent-recipes>
        }
    </div>
    <div class="flex-1 ml-4 space-y-4 h-full">
        <h3 class="text-2xl font-semibold mb-4 text-[#4a3f35]">Categories</h3>
        <div class="bg-[#fef5e7] p-4 rounded-lg shadow-md">
            <ul class="space-y-1 text-gray-800">
                <li class="cursor-pointer hover:underline">All</li>
                <li class="cursor-pointer hover:underline">Breakfast</li>
                <li class="cursor-pointer hover:underline">Lunch</li>
                <li class="cursor-pointer hover:underline">Dinner</li>
            </ul>
        </div>

    </div>
</div>